{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="{{.assetsurl}}/images/favicon.png">
    {{ template "title" . }}
	<link href="{{.assetsurl}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{.assetsurl}}/css/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
    <link href="{{.assetsurl}}/css/bootstrap-reset.css" rel="stylesheet">
    <link href="{{.assetsurl}}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{.assetsurl}}/css/style.css" rel="stylesheet">
    <link href="{{.assetsurl}}/css/style-responsive.css" rel="stylesheet"/>
    {{ template "styles" . }}
	{{ template "hscripts" . }}
</head>
<body {{ template "bodyclass" . }}>
<section id="container">
{{ template "content" . }}
</section>
<script src="{{.assetsurl}}/js/jquery.js"></script>
<script src="{{.assetsurl}}/js/jquery-ui-1.10.1.custom.min.js"></script>
<script src="{{.assetsurl}}/js/bootstrap.min.js"></script>
<script src="{{.assetsurl}}/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="{{.assetsurl}}/js/jquery.nicescroll.js"></script>
<script src="{{.assetsurl}}/js/jquery.scrollTo.js"></script>
<script src="{{.assetsurl}}/js/jquery.easing.min.js"></script>
<script src="{{.assetsurl}}/js/underscore.min.js"></script>
<script src="{{.assetsurl}}/js/moment-2.2.1.js"></script>
<script src="{{.assetsurl}}/js/scripts.js"></script>
{{ template "fscripts" . }}
</body>
</html>
{{ end }}
{{ define "bodyclass" }}{{ end }}
{{ define "styles" }}{{ end }}
{{ define "hscripts" }}{{ end }}
{{ define "fscripts" }}{{ end }}