{{ define "sidebar" }}
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="{{.selDashboard}}" href="/">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="{{.selForecast}}" href="/forecast">
                        <i class="fa fa-cogs"></i>
                        <span>Forecast Reports</span>
                    </a>
                </li>
                <li>
                    <a class="{{.selForecastUpd}}" href="/forecast/update">
                        <i class="fa fa-cloud-upload"></i>
                        <span>Upload Sales Data</span>
                    </a>
                </li>
                <li>
                    <a class="{{.selAdministrators}}" href="/administrators">
                        <i class=" fa fa-group"></i>
                        <span>Administrators</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
{{ end }}
