{{ define "title"}}<title>Login</title>{{ end }}
{{ define "bodyclass"}}class="body-404"{{ end }}
{{ define "content" }}
    <div class="error-head"> </div>
    <div class="container ">
      <section class="error-wrapper text-center">
          <h1><img src="{{.assetsurl}}/images/404.png" alt=""></h1>
          <a href="/" class="back-btn"><i class="fa fa-home"></i> Home</a>
      </section>
    </div>
  </body>
{{ end }}