{{ define "title"}}<title>Sales IQ Dashboard</title>{{ end }}
{{ define "content" }}
{{ template "header" . }}        
{{ template "sidebar" . }}
<!--main content start-->
    <section id="main-content">
        <section class="wrapper">
        <!-- page start-->
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Forecast
                        <span class=" pull-right">
                            <!--<button type="button" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Add</button>-->
                        </span>
                    </header>
                    <div class="panel-body">
                        <form action="/forecast" class="form-horizontal " id="forecast" method="post">
                            <div class="modal-body ">
                                <div id="s-alert" class="cust-alert alert alert-danger fade in">
                                    <strong>Oops! </strong> Something went wrong
                                </div>
                                <div class="form-group">
                                    <label for="sku" class="col-sm-3 control-label">Select Product:</label>
                                    <div class="col-sm-5">
                                        <select name="sku" class="form-control m-bot15">
                                        {{range $index, $element :=  .skus}}
                                            <option  value="{{$index}}">{{$element}}</option>
                                        {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Date:</label>
                                    <div class="col-sm-4">
                                        <input name="date" value="{{ .Date }}" class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text"  required  />
                                         <span id="dt-icon" class="input-group-btn add-on">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-calendar"></i></button>
                                              </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success">Show Forecast</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                {{ if .forecast }}
                {{ with .forecast }}

                <section class="panel">
                    <header class="panel-heading gen-case">Forecast of {{ .Product }} for date {{ .Date }} </header>
                    <div class="panel-body profile-information">
                        <div class="col-md-3">
                            <div class="profile-pic text-center">
                                <img src="{{$.assetsurl}}/images/img.placeholder.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="profile-desk">
                                <h1>{{ .Product }}</h1>
                                <h3>{{ .Date }}</h3>
                            </div>
                        </div>
                    </div>


                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="top-stats-panel">
                                    <div class="gauge-canvas">
                                        <h4 class="widget-h">Sale</h4>
                                        <canvas width=160 height=100 id="gauge"></canvas>
                                    </div>
                                    <ul class="gauge-meta clearfix">
                                        <li id="gauge-textfield" class="pull-left gauge-value"></li>
                                        <li class="pull-right gauge-title">{{ .Sale }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="top-stats-panel">
                                    <div class="gauge-canvas">
                                        <h4 class="widget-h">Volume</h4>
                                        <canvas width=160 height=100 id="gauge-vol"></canvas>
                                    </div>
                                    <ul class="gauge-meta clearfix">
                                        <li id="gauge-vol-textfield" class="pull-left gauge-value"></li>
                                        <li class="pull-right gauge-title">{{ .Volume }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {{ end }}
                {{ end }}
            </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{{ end }}
{{ define "styles" }}
<link href="{{.assetsurl}}/css/bootstrap-switch.css" rel="stylesheet">
{{ end }}
{{ define "fscripts" }}
<script type="text/javascript">
        $(function() {
            $('.default-date-picker').datepicker({
                 dateFormat: "yy-mm-dd"
            });
        })
</script>
{{ if .forecast }}
{{ with .forecast }}
<script type="text/javascript">
    $(function() {
            var opts = {
                lines: 12, // The number of lines to draw
                angle: 0, // The length of each line
                lineWidth: 0.48, // The line thickness
                pointer: {
                    length: 0.6, // The radius of the inner circle
                    strokeWidth: 0.03, // The rotation offset
                    color: '#464646' // Fill color
                },
                limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                colorStart: '#fa8564', // Colors
                colorStop: '#fa8564', // just experiment with them
                strokeColor: '#F1F1F1', // to see which ones work best for you
                generateGradient: true
            };

            var gaugeSale = new Gauge(document.getElementById('gauge')).setOptions(opts);
            gaugeSale.maxValue = {{.NrmSale}}; // set max gauge value
            gaugeSale.animationSpeed = 32; // set animation speed (32 is default value)
            gaugeSale.set({{.NrmSale}}); // set actual value
            gaugeSale.setTextField(document.getElementById("gauge-textfield"));

            var gaugeVol = new Gauge(document.getElementById('gauge-vol')).setOptions(opts);
            gaugeVol.maxValue = {{.NrmVolume}}; // set max gauge value
            gaugeVol.animationSpeed = 32; // set animation speed (32 is default value)
            gaugeVol.set({{.NrmVolume}}); // set actual value
            gaugeVol.setTextField(document.getElementById("gauge-vol-textfield"));

    })

</script>
{{ end }}
{{ end }}
<script src="{{.assetsurl}}/js/charts/gauge.js"></script>
<script src="{{.assetsurl}}/js/bootstrap-switch.js"></script>
<script src="{{.assetsurl}}/js/toggle-init.js"></script>
<script src="{{.assetsurl}}/js/validation-init.js"></script>
{{ end }}
