{{ define "title"}}<title>Sales IQ Dashboard</title>{{ end }}
{{ define "content" }}
{{ template "header" . }}        
{{ template "sidebar" . }}
<!--main content start-->
    <section id="main-content">
        <section class="wrapper">
        <!-- page start-->
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Sales Data Job Status
                        <span class=" pull-right">
                            <!--<button type="button" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Add</button>-->
                        </span>
                    </header>
                    <div class="panel-body">
                        <form action="/forecast/update"  enctype="multipart/form-data"  class="form-horizontal " id="forecastupdate" method="post">
                            <div class="modal-body ">
                                <div id="s-alert" class="cust-alert alert alert-danger fade in">
                                    <strong>Oops! </strong> Something went wrong
                                </div>
                                <div class="form-group">
                                    <div class="pi-text-center">
                                        <img src="{{.assetsurl}}/images/processing.gif">
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </section>
            </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{{ end }}
{{ define "styles" }}
<link href="{{.assetsurl}}/css/bootstrap-switch.css" rel="stylesheet">
{{ end }}
{{ define "fscripts" }}
<script type="text/javascript">
        $(function() {
            $('.default-date-picker').datepicker({
                 dateFormat: "yy-mm-dd"
            });
        })
</script>

<script src="{{.assetsurl}}/js/charts/gauge.js"></script>
<script src="{{.assetsurl}}/js/bootstrap-switch.js"></script>
<script src="{{.assetsurl}}/js/toggle-init.js"></script>
<script src="{{.assetsurl}}/js/validation-init.js"></script>
{{ end }}
