{{ define "title"}}<title>Login</title>{{ end }}
{{ define "bodyclass"}}class="login-body"{{ end }}
{{ define "content" }}
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">SALES IQ ADMIN</h2>
           {{if .Msg}}
             <div class="alert alert-block alert-danger fade in center">
                <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="fa fa-times"></i>
                </button>
                {{.Msg}}
            </div>
          {{end}}
        <div class="login-wrap">
            <div class="user-login-info">
                <input name="email" type="text" class="form-control" placeholder="Email ID" autofocus>
                <input name="password" type="password" class="form-control" placeholder="Password">
            </div>
            
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a href="#"> Forgot Password?</a>

                </span>
            </label>
            
            <button class="btn btn-lg btn-login btn-block" type="submit">LOG IN</button>

            <div class="pi-text-center">
                <img src="{{.assetsurl}}/images/iq.png">
            </div>
            

        </div>
      </form>

    </div>

{{ end }}
